@use "variables.scss";
@use "breakpoints.scss";

html {
  height: 100%;
}
body {
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  font-family: var(--font-family);
  font-weight: 400;
  color: var(--color-3);
  background-color: var(--color-2);
  font-size: var(--font-size);
}

h1,
h2 {
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: var(--space-inline-vertical);
  line-height: 1.4;
}

p,
h3 {
  margin-bottom: var(--space-inline-vertical);
}

h1 {
  font-size: 1.4em;
  @include breakpoints.device(breakpoints.$medium) {
    font-size: 1.8em;
  }
}

h2 {
  font-size: 1.2em;
  @include breakpoints.device(breakpoints.$medium) {
    font-size: 1.8em;
  }
}

h3 {
  text-transform: uppercase;
  font-weight: 600;
}

b,
strong {
  font-weight: 600;
}

a {
  color: var(--color-1);
}
